# Eclipse specific files
.settings/
.classpath
.project

# Maven specific files
target/           # Compiled bytecode and build files
dependency-reduced-pom.xml
release.properties

# OS-specific files
.DS_Store          # macOS system files

# Test Reports
surefire-reports/  # TestNG reports
test-output/       # TestNG output directory




